#logo img
{
	width: 180px;
	height: auto;

}

nav
{
	display: flex;
	justify-content: unsafe flex-end;
}

nav a
{
	text-decoration:none; 
	color: black;
}

footer a
{
	text-decoration:none; 
	color: black;

}

nav ul
{
	list-style-type: none;
	display: flex;

}
nav li
{
	margin-left: 70px;

}

#nav
{
	display: flex;
	padding-left: 0px;
}

#inscrire-bas
{
	padding-left: 60px;
	color: #0065FC;
	font-weight: bold;
}


nav a:hover
{

	text-decoration: overline 4px #0065FC;
}

footer a:hover
{

	text-decoration: underline 3px black;
}

button:hover
{
	cursor: pointer;
	color: black;
}

a:visited
{
	color: black;
}

header
{
	font-size: 1.7em;
	display: flex;
	justify-content: space-between;

}

.image-hebergement img
{
	width: 100%;
	height: 150px;
	border-radius: 25px 25px 0 0;
	object-fit: cover;
}

.image-populaire img
{
	height: 100%;
	width : 160px;
	border-radius: 25px 0 0 25px;
	object-fit: cover;
}

.image-activite img
{
	height: 100%;;
	width: 100%;
	border-radius: 25px 25px 0 0;
	object-fit: cover;
}

h1
{
	font-size: 1.8em;
	margin-bottom: -35px;
}

h5
{
	font-weight: normal;
	font-size: 1.3em;
}

.barre-recherche
{
	font-size: 1.2em;
	font-weight: bold;
	max-width: 225px;
	padding: 0.5em 1em 0.5em 1em;
	border: 3px #F2F2F2 solid;

}

input::placeholder
{
	color: black;
}

#recherche
{
	display: flex;
	height: 50px;
}

#here
{
	color: black;
	font-size: 1.4em;
	border: 1px #F2F2F2 solid;
	border-radius: 15px 0 0 15px;
	background-color: #F2F2F2;
	width: 40px;
	height: 35px;
	text-align: center;
	padding-top: 13px;
	padding-left: 5px;
}

button
{
	font-size: 1.2em;
	width: 150px;
	font-weight: bold;
	background-color: #0065FC;
	color: white;
	border-radius: 0 15px 15px 0;
	border: none;
	height: 50px;
}


#glass .fas
{
	background-color: #0065FC;
	border-radius: 20px;
	color: white;
	font-size: 1.4em;
	width: 45px;
	height: 35px;
	text-align: center;
	padding-top: 13px;
	padding-left: 5px;
}

#filtres
{
	display: flex;
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 10px;
	margin-bottom: -25px;
}

#filtres ul
{
	display: flex;
	list-style-type: none;
	width: 1200px;

}

#filtres ul li
{
		border: 2px #F2F2F2 solid;
		border-radius: 30px 30px 30px 30px;
		text-align: center;
		padding-right: 30px;
}

#filtres a
{
	text-decoration: none;
	margin-right: 10px;
}

#filtres a:hover
{
	background-color: #deebff;
	border-radius: 30px 30px 30px 30px;

} 

#filtres .fas
{
	font-size: 1em;
	color: #0065FC;
	border: 1px #deebff solid;
	border-radius: 50%;
	background-color: #deebff;
	width: 56px;
	height: 40px;
	padding-top: 15px;
}

#filtres p
{
	padding-top: 17px;
}

#info .fas
{
	color: #0065FC;
	font-size: 0.9em;
	color: #0065FC;
	display: inline-block;
	border: 3px #F2F2F2 solid;
	border-radius: 50%;
	width: 30px;
	height: 26px;
	text-align: center;
	padding-top: 6px;
	margin-right: 20px;
}

#info

{
	font-size: 1.4em;
}


#hebergements
{
	font-size: 2.2em;
	margin-left: 30px;
	padding-top: 30px;
}

#debut
{
	background-color: #F2F2F2;
	border-radius: 15px;
	width: 68%;
	height: 820px;
}

#photos-hebergements
{
	display: flex;
	justify-content: space-around;
	padding-left: 20px;
	padding-right: 20px;
	flex-wrap: wrap;
}

.image-texte-hebergement
{
	border: 5px white solid;
	border-radius: 25px;
	box-shadow: 1px 1px 6px black;
	background-color: white;
	margin-bottom: 30px;
	width: 28%;
	height: 250px;
}

h4
{
	font-size: 1.3em;
	margin-top: 3px;
	margin-left: 10px;
	margin-bottom: -18px;
}

.texte-hebergement p
{
	font-size: 1.2em;
	margin-left: 12px;
}

.pleine .fas 
{
	color: #0065FC;
}

.vide .fas
{
	color: #939BA1;
}

.star
{
	display: flex;
	margin-left: 10px;
	margin-top: -8px;

}

.afficher
{
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 30px;
	padding-bottom: 30px;
}

#titre-logo
{
	display: flex;
	justify-content: space-between;
}

#titre-logo .fas
{
	font-size: 2em;
	margin-right: 55px;
	padding-top: 60px;
}

.haut
{
	display: flex;
	justify-content: space-between;
}

aside
{
	background-color: #F2F2F2;
	border-radius: 15px;
	width: 30%;
	height: 820px;

}

#populaire
{
	font-size: 2.2em;
	margin-left: 30px;
	padding-top: 30px;
}

.image-texte-populaire
{
	display: flex;
	border: 5px white solid;
	box-shadow: 1px 1px 6px black;
	border-radius: 25px;
	background-color: white;
	margin-bottom: 30px;
	height: 25%;
    width: 80%;
	margin: auto;
}

.texte-populaire p
{
	font-size: 1.2em;
	margin-left: 10px;
}

#photos-populaires
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 670px;
	margin-top: -20px;
}

.texte-etoile
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: calc(100% - 120px);

}

.star-aside
{
	display: flex;
	margin-left: 10px;
	margin-bottom: 15px;
}


#activites
{
	font-size: 2.2em;
	padding-top: 30px;


}

#bloc-photo-bas
{
	display: flex;
	justify-content: space-evenly;
}

.banniere
{
	font-size: 1.3em;
	font-weight: bold;

}

.texte-activite
{
	padding-top: 40px;
	padding-left: 25px;
}

.photos-activite-grande
{
	width: 23%;
}

.shadow
{
	border: 0px #F2F2F2 solid;
	border-radius: 25px;
	box-shadow: 1px 1px 10px grey;
	background-color: white;
}

.wrapper
{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-activite
{
	height: calc(100% - 80px);
}



footer
{
	display: flex;
	justify-content: space-between;
	background-color: #F2F2F2;
	margin-top: 100px;
	padding-left: 70px;
    padding-right: 450px;

}

h3
{
	font-size: 1.7em;
}

footer ul
{
	list-style-type: none;
	font-size: 1.3em;
	padding: 0;
}

footer ul li
{
	margin-bottom: 10px;
}

#bloc-page
{
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 20px;
}



@media (min-width: 780px) 
{
	#glass
	{
		display: none;
	}

	#inscrire-haut
	{
		display: none;
	}


}



@media (max-width: 1400px) and (min-width: 780px) 
{

    #filtres ul
    {
    	flex-wrap: wrap;
    }

    .haut
	{
		display: flex;
		flex-direction: column-reverse;

	}

	aside
	{
		width: 100%;
	}

		#bloc-page
	{
		padding-left: 5px;
		padding-right: 5px;
	}

	#debut
	{
		margin-top: 20px;
		width: 100%;
		height: 100%;
	}

	.image-populaire img 
	{
	    width: 260px;
	}

	.texte-activite
	{
		padding-top: 8px;
	}

	footer
	{
		padding-right: 5px;
	}

}	

@media (max-width: 780px) and (min-width: 10px) 
{
    .image-texte-hebergement 
    {
        border-radius: 25px;
        box-shadow: 1px 1px 6px black;
        background-color: white;
        margin-bottom: 30px;
        width: 80%;
    }

    .haut
	{
		display: flex;
		flex-direction: column-reverse;

	}

	#debut
	{
		width: 100%;
		height: 100%;
		background-color: white;
	}

	aside
	{
		width: 100%;
	}

	#bloc-photo-bas
	{
		flex-direction: column;
		align-items: center;
		height: 1800px;

	}

	.photos-activite-grande
	{
		width: 82%;
	}

	.image-activite img
	{
		height: 180px;
	}

	.wrapper
	{
		height: 540px;
	}

	#photos-hebergements
	{
		padding-left: 0px;
		padding-right: 0px;
	}

	#activites
	{
		padding-top: 0px;
	}

	footer
	{
		margin-top: 0px;
		flex-direction: column;
		padding-left: 50px;
		padding-right: 0;

	}

	#bloc-page
	{
		padding-left: 1px;
		padding-right: 1px;
	}


    button
    {
    	display: none;
    }

    #recherche
    {
    	border: 1px #F2F2F2 solid;
    	border-radius: 20px;
    	width: 320px;
    }

    .barre-recherche
    {
    	border: none;
    }

    #filtres
    {
    	flex-wrap: wrap;
    }

    #filtres ul
    {
    	flex-wrap: wrap;
    	margin-top: 0px;
    	padding-left: 0px;
    }

    #filtres a
    {
    	padding-bottom: 15px;
    }


    header
    {
    	flex-direction: column;
    }

    
    #inscrire-bas
	{
		display: none;
	}

	 #inscrire-haut
	{
		color: #0065FC;
		font-weight: bold;
	}

	#logo
	{
		display: flex;
		justify-content: space-between;
	}

	nav li
	{
		padding-right: 50px;
		margin-left: 0px;
	}

}